@model Viajemos.Web.Data.Entities.Libro

@{
    ViewData["Title"] = "Details";
}

<h2>Autor Libro</h2>
<div class="row">
    <div class="col-md-6">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Autor.User.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autor.User.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Autor.User.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autor.User.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Autor.User.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autor.User.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Autor.User.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autor.User.PhoneNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Detalles del Libro</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sinopsis)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sinopsis)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Paginas)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Paginas)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="EditLibro" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary">Agregar Imagen</a>
    <a asp-action="Details" asp-route-id="@Model.Autor.Id" class="btn btn-success">Regresar a Autor</a>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <div>
            @if (Model.ImagenLibros.Count == 0)
            {
                <h5>No se ha agregado Imagen al libro</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImagenLibros.FirstOrDefault().ImageUrl)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ImagenLibros)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                                    }
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Quieres borrar el registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    	$(document).ready(function () {
        	// Delete item
        	var item_to_delete;
        	var action_to_delete;

        	$('.deleteImage').click((e) => {
            	item_to_delete = e.currentTarget.dataset.id;
            	action_to_delete = 1;
        	});

        	$("#btnYesDelete").click(function () {
            	if (action_to_delete == 1) {
                	window.location.href = '/Autors/DeleteImage/' + item_to_delete;
            	}
        	});
    	});
    </script>
}
