@model IEnumerable<Viajemos.Web.Data.Entities.Libro>

@{
    ViewData["Title"] = "Home Page";
}


<section id="our-shop" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2">
                    Libros Disponibles<span class="font-normal"> en Viajemos.com</span>
                    <span class="divider-center"></span>
                </h2>
                <br />
            </div>
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="300ms">
                    <div class="shopping-box bottom30">
                        <div class="text-center">
                            @if (!string.IsNullOrEmpty(item.FirstImage))
                            {
                                <img src="@Url.Content(item.FirstImage)" alt="Image" style="width:200px;height:200px;max-width: 100%; height: auto;" />
                            }
                            <div class="overlay center-block">
                                <a class="opens" asp-action="DetailsService" asp-route-id="@item.Id" title="View profile"><i class="far fa-id-card"></i></a>
                            </div>
                        </div>
                        <div class="shop-content text-center">
                            <h4>Titulo: @Html.DisplayFor(modelItem => item.Titulo)</h4>
                            <h5>Paginas: @Html.DisplayFor(modelItem => item.Paginas)</h5>
                            <h5>Sinopsis: @Html.DisplayFor(modelItem => item.Sinopsis)</h5>
                            <h5>Autor: @Html.DisplayFor(modelItem => item.Autor.User.Nombre) @Html.DisplayFor(modelItem => item.Autor.User.Apellido) </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
